@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
}

body{
    background-color: #023047;
}

.header{
    background-color: #fb8500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0,3s;
}

.header .logo img:hover{
    transform: scale(1,2);
}

.header .logo{
    cursor: pointer;
}


